h1, h2, p, td, label, span {
    font-family: "Inconsolata", "Courier New", sans-serif !important;
    color: white;
}

input {
    font-family: "Inconsolata", "Courier New", sans-serif !important;
}

body {
    background-color: black;
    color: white;
}

.col-3, .col-5, .col-8 {
    border: 2px dashed white !important;
    margin: 20px !important;
}

.battle-log {
    height: 500px !important;
    overflow: scroll;
}