<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{ :: body})">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
    <div class="col-8">
    <h2>Character creation</h2>

    <form action="/create" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="text" name="age" id="age">
        </div>
        <div class="form-group">
            <select name="os">
                <option name="linux" id="linux">Linux</option>
                <option name="macos" id="macos">MacOS</option>
            </select>
        </div>
        <div class="form-group">
            <select name="league">
                <option name="backend" id="backend">Backend</option>
                <option name="frontend" id="frontend">Frontend</option>
                <option name="devops" id="devops">DevOps</option>
                <option name="testing" id="testing">Test Automation</option>
                <option name="datascience" id="datascience">Data Science</option>
                <option name="embedded" id="embedded">Embedded</option>
            </select>
        </div>
        <div class="form-group">
            <select name="language">
                <option name="java" id="java">Java</option>
                <option name="javascript" id="javascript">Javascript</option>
                <option name="c" id="c">C</option>
                <option name="python" id="python">Python</option>
            </select>
        </div>
        <div class="form-group">
            <select name="technology">
                <option name="vim" id="vim">Vim</option>
                <option name="nano" id="nano">Nano</option>
                <option name="thymeleaf" id="thymeleaf">Thymeleaf</option>
                <option name="spring" id="spring">Spring</option>
                <option name="angular" id="angular">Angular</option>
            </select>
        </div>
        <div class="form-group">
            <input class="btn btn-dark" type="submit" value="Create">
        </div>
    </form>
    </div>
    </div>
</div>
</body>
</html>