<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{ :: body})">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Character creation</h2>

            <form th:object="${newcharacter}" action="/create" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input th:value="*{name}" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input th:value="*{age}" type="text" name="age" id="age">
                </div>
                <div class="form-group">
                    <label>Operation System: </label>
                    <select name="os" id="os">
                        <option th:value="*{os}" th:each="os : ${oslist}" th:text="${os.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Developer League: </label>
                    <select>
                        <option th:each="aleague : ${T(com.greenfoxacademy.devwars.models.characterlogic.League).values()}"
                                th:value="${{aleague}}"
                                th:text="${aleague}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Competences: </label>
                    <input type="checkbox" th:value="*{competences}" th:each="competence : ${competences}" th:text="${competence.description}">
                </div>
                <div class="form-group">
                    <input class="btn btn-dark" type="submit" value="Create">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>