<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{ :: body})">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Character creation</h2>
            <form th:object="${newcharacter}" action="/create" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input th:field="*{name}" id="name">
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input id="age" th:field="*{age}" type="number">
                </div>
                <div class="form-group">
                    <label for="os">Operation System:</label>
                    <select id="os" name="osId">
                        <option th:each="os : ${oslist}" th:text="${os.name}" th:value="${os.id}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="league">Developer League: </label>
                    <select id="league" name="league">
                        <option th:each="league : ${T(com.greenfoxacademy.devwars.models.characterlogic.League).values()}"
                                th:value="${{league}}" th:text="${leagueStat.current}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Languages:</label>
                    <select name="languageId">
                        <option th:each="language : ${languages}" th:value="${language.id}" th:text="${language.description}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Technology:</label>
                    <select name="technologyId">
                        <option th:each="technology : ${technologies}" th:value="${technology.id}" th:text="${technology.description}"></option>
                    </select>
                </div>
                <input class="btn btn-dark" type="submit" value="Create">
            </form>
        </div>
    </div>
</div>
</body>
</html>