<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{ :: body})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="col-8">
        <h2><img src="/images/moth.jpg"> MöthGames proudly presents:
            DevWars, an interactive, turn-based web application where you can create your own developer character,
            and fight other developer characters with skills, items, weapons etc.</h2>
        <p>If you are here for the first time, go ahead, and create your own character!</p>
        <form method="get" action="/create">
            <button>CREATE CHARACTER</button>
        </form>
        <p>... or, if you prefer, go ahead and fight with an existing character!</p>
        <form method="get" action="/lobby">
            <button>ENTER THE ARENA!</button>
        </form>
    </div>
</div>
</body>
</html>